body
{
	background: rgba(90, 70, 90, 2.0);
}
h1{
	text-align: center;
	font-family: "AGENCY FB";
	color: black;
}
h2
{
	text-align: center;
	font-family: "AGENCY FB";
	color: black;
}
h3{
	text-align: center;
}
h4
{ 	
	text-align: center;
	color:white;
}
p
{
	color: white;
}