body
{
	background: rgba(90, 70, 90, 2.0);
}
h1{
	text-align: center;
	font-family: "AGENCY FB";
	color: black;
}
h2
{
	text-align: center;
	font-family: "AGENCY FB";
	color: black;
}
h3{
	text-align: center;
}

p
{
	color: white;
}